@charset "UTF-8";
/* CSS Document */

/*Parte legada del sistema*/

.tablasConsultas{
    width: 65px;
    height: 65px;

}
.columnas{
    font-size:small;
    font-weight:bold;
    width: 100px;
    text-align: left;
    top: 66px;
    position: left;
}


.centrarTablas{    
    margin-left: 100px;

}
.centrarTablasPrincipal{
    margin-left: 100px;
    border: solid 1px black;
    clear: left;
}

.centrarPanelGroup{
    margin-left: 235px;
    border: solid 1px black;
    font-size:large;
    clear: left;
}
.centrarTablas_check{
    margin-left: 175px;
}
.centrarPanales{
    border: 1px solid black;
    border-color: black;
    font-size: 10pt;

}
.texto_legado{

    background-color: #ffff99;
    font-weight: bold;

}
.texto_legadoConsultaSolicitud{

    /*background-color:#CCCCCC;*/
    font-weight: bold;

}

.textoLegadoSolicitud{

    background-color: #99ffcc;
    font-weight: bold;
}


/*Terminar css parte legada del sistema*/

.mostrar{
    display: inline;
}
.nomostrar{
    display: none;
}

.columnaLoginIzq  {
    width: 716px;
    height: 415px;

}

.columnaLoginDer {
    width: 230px;
    height: 415px;

}

#textologin{
    text-align:center;
    font-weight:bold;
    width:300px;
    height:125px;
    margin:0px auto;
    padding-top:100px;
}
#botonentrar{
    clear:both;
    text-align:center;
    width:400px;
    height:25px;
    margin:20px auto;

}
#textocontrasena{
    clear:both;
    text-align:center;
    width:300px;
    height:25px;
    margin:8px auto;
}
#textocontrasena a{
    clear:both;
    text-align:center;
    width:300px;
    height:25px;
    margin:8px auto;
    text-decoration:none;
    color:#06C;
}
#textocontrasena a:hover{
    text-decoration: underline;
}
#pie{ 
    clear:both;
    text-align:center;
    width:600px;
    height:20px;
    margin:0px auto;
}
.fila{
    clear:both;
    height:40px;
    margin:70px 10px 10px 120px;
    font-family: "Myriad Pro", "Helvetica";
    font-size:24px;
}
#cuadroadentro{
    clear: both;
    width:866px;
    height:600px;
    margin:0px auto;

}
#cuadroizq{
    background-image: url(../imagenes/cuadroazul_sau.png);
    float:left;
    width:432px;
    height:284px;

}
#cuadroder{
    background-image: url(../imagenes/cuadroazul_sau.png);
    float:right;
    width:432px;
    height:284px;

}
#tituloazul{
    text-align:center;
    font-weight:bold;
    width:350px;
    height:23px;
    margin:0px auto;
    padding-top:30px;
}
#textoazul{
    text-align: left;
    font-weight: normal;
    width:300px;
    height:150px;
    margin:0px auto;
    padding-top:10px;
}
.filaazul{
    clear:both;
    height:20px;
    margin:20px 10px 10px 10px;
    font-family: "Myriad Pro", "Helvetica";
    font-size:18px;
}
.filaazul .campoderecha{
    float:right;
    margin-right:50px;
}

h1,h2,h3,h4 {
    margin-top:0px;
}



/****************************************************************  nuevas  ****/

.gi_bienvenida{
    /*    width: 700px;
        height: 620px;*/
}

.panel_plantillaAzul{
    height: 100% !important;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    border: 1px solid #999999;
    padding-left: 15pt;
    padding-right: 15pt;
    padding-bottom: 10pt;
    padding-top: 10pt;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #DCDCDC;
    background: -webkit-gradient(linear, left top, left bottom, from(#DCDCDC), to(#2A6591));
    background: -moz-linear-gradient(top,  #DCDCDC,  #2A6591);
}

.panel_plantillaGris{
    height: auto !important;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    border: 1px solid #999999;
    padding-left: 15pt;
    padding-right: 15pt;
    padding-bottom: 15pt;
    margin-right: 20px;
    margin-left: 1em;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 15pt;
    background: #DCDCDC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DCDCDC));
    background: -moz-linear-gradient(top,  #FFFFFF,  #DCDCDC);
}

.centrarElemento{
    margin-left: auto;
    margin-right: auto;
}


/*******************************************  pulidos   */

body{
    font-family: "Myriad Pro", "Helvetica";
    width:981px;
    margin:0px auto; 
}

/*#encabezado{
    width:1027px;
    height:241px;
    margin:0px auto;
}*/

/* ///////////////////////////////////////////////// POPUP*/
.popup{
    /*background: none repeat scroll 0 0 rgba(82, 82, 82, 0.7);*/
    background: none repeat scroll 0 0 rgba(30, 125, 250, 0.8);
    border-radius: 8px;
    padding: 5px;
    border-width: 5px;
    border-color: black;
}

.popupHeader{
    /*background: none repeat scroll 0 0 rgba(82, 82, 82, 0.7); 1177DD  */

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.3em;
    vertical-align: middle;
    padding: 4px;
    text-shadow: 1px 1px 0 #777777 !important;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
}

.popupBody{
    border-radius: 8px;
    background-color: black;
}


.botonesPopup{
    background: none repeat scroll 0 0 #E2E2E2;
    text-align: right;
    display: block;
    border-color: #E2E2E2;
    /*CSS 3*/
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;

}

#encabezado img{
    height:150px;
    width:981px;
    margin:0;
    padding:0;
    border-radius: 20px 20px 5px 5px;
    box-shadow: 10px 0px 5px graytext,
        -10px 0px 5px graytext;

}
#contenido{
    clear:both;
    width:981px;
    margin:0px auto;
}

#cuadroTope{
    background-image: url(../imagenes/cabeza_2_2.png);
    width:981px;
    height:99px;
    background-repeat: no-repeat;
    clear: both;
    overflow: hidden;
    /* z-index: -10;
     position: relative;*/
}

#cuadroMedio{
    background-image: url(../imagenes/centro_2.png);
    width:981px;
    background-repeat: repeat-y;
    clear: both;
    display: block;
    padding-left: 33px;
    /*z-index: 0;
    position: relative;*/
}

#cuadroBajo{
    background-image: url(../imagenes/pie_2.png);
    width:981px;
    height:130px;
    margin-top: -16px;
    background-repeat: no-repeat;
    z-index: -15;
    position: relative;
}
#cuadropeq{
    background-image: url(../imagenes/cuerpo2_sau.png);
    width:981px;
    height:391px;
    padding-top: 30px;
    padding-left:170px;
    clear: both;
}


#cuadrogrande{
    clear: both;
    margin:0px;
    padding-top:1px;
    background-image: url(../imagenes/cuerpo_sai.png);
    width:981px;
    height:883px;
}

/* ///////////////////////////////////////////////////////   estandar */
.inputText_estandar, .selectOneMenu_estandar, .selectOneMenu_fijo, .selectOneMenu_fijo_mediano, .outPutText_formulario,.outPutText_formulario_peque .outPutText_estandar, .outPutText_formulario_opaco, .outPutText_formulario_derecha{
    font: 14px "Helvetica Neue",Arial,sans-serif;
    color: black;
    /*CSS3 */
    background-clip: none;
}

/* ///////////////////////////////////////////////////////   input text */

.inputText_estandar, .selectOneMenu_estandar, .selectOneMenu_fijo, .selectOneMenu_fijo_mediano{
    border-radius: 4px 4px 4px 4px;
    border-style: double;
    border-width: 1px;
    border-color: #CCCCCC;
    -moz-transition: border 0.5s linear 0s, -moz-box-shadow 0.5s linear 0s;
}

.inputText_estandar{
    padding: 3px;
    width: 180px;
}

.inputText_estandar:focus{
    border-color: rgba(82, 168, 236, 0.75) !important;
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
    outline: medium none;
}

/* ///////////////////////////////////////////////////////   select one menu */

.selectOneMenu_estandar{
    width: auto;
}

.selectOneMenu_fijo{
    width: 12em;
}

.selectOneMenu_fijo_mediano{
    width: 250px;
}

.selectOneMenu_fijo:focus, .selectOneMenu_estandar:focus, .selectOneMenu_fijo_mediano:focus{
    border-color: rgba(82, 168, 236, 0.75) !important;
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
    outline: medium none;
}

.selectOneMenu_fijo option, .selectOneMenu_estandar option, .selectOneMenu_fijo_mediano option{
    font: 14px "Helvetica Neue",Arial,sans-serif;
    vertical-align: middle !important;
    padding: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #CCCCCC;
    -moz-transition: background 0.4s;
}

.selectOneMenu_fijo option:hover, .selectOneMenu_estandar option:hover, .selectOneMenu_fijo_mediano option:hover{
    border-color: #1177DD !important;
}

/* ///////////////////////////////////////////////////////   outPutText */

.ot_titulo{
    /** 
     display: block;
     margin-top: -1.5em;
     margin-bottom: 0.5em;
     clear:inherit;
     position: relative;
     z-index: -1;
     **/
    color: black;
    font-size: 28px;
    margin-left: 20px;
}

.ot_leyenda_peq{
    color: gray;
    display: block;
    float: left;
    font-style: italic;
    font-size: small;
    margin-top: 0.1em;
    margin-bottom: -0.2em;
    margin-left: 0.2em;
    width: 100%;
}

.ot_encabezado{
    color: black;
    display: block;
    /*float: left; Comentado por amora*/
    font-style: oblique;
    font-size: large;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0.2em;
    width: 100%;
}


.ot_SubTitulo{
    color: black;
    display: block;
    float: left;
    font-size: x-large;
    margin-left: 0.2em;
    width: 100%;
}

.texto_opaco{
    color: gray;
}

.outPutText{
    float: left;
    text-align: left;
    margin-right: 10px;
    margin-left: -5px;
    padding-top: 5px;
    position: relative;
}

.outPutTextLink{
    float: left;
    text-align: left;
    margin-right: 10px;
    margin-left: -5px;
    padding-top: 5px;
    position: relative;
    color: #0066FF;
    text-decoration: underline;

}

.outPutText_formulario, .outPutText_formulario_peque, .outPutText_formulario_opaco{
    float: left;
    text-align: right;
    width: 180px;
    margin-right: 10px;
    display: block;
    padding-top: 7px;
}

.outPutText_formulario_opaco, .outPutText_formulario_peque{
    color: #555555;
}
.outPutText_formulario_peque{
    width: 80px;
}

.outPutText_formulario_derecha{
    float: left;
    width: 16em;
}

.outPutText_titulo_apartado{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    margin: -37px 0px 15px 190px;
    padding: 0px 10px;
}

.outPutText_estandar{
    float: left;
}

.opt_u_centrado{
    margin-top: 95px;
    position: relative;
    display: block;
    text-align: center;
}

.opt_u_centradoLnk{ 
    margin-top: 95px;
    position: relative;
    display: block;
    text-align: center;
    color: #0066FF;
    text-decoration: underline;
}

.outPutText_indicacion{
    color: gray;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    width: 270px;
    padding-left: 10px; 
    padding-top: 3px;
    display: block;
}


.ot_InfoRojo{
    color: red;
    font-size: 20px;
    font-weight: bold;    
    text-align: left;
    width: 450px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
    position: relative;    

}
.centrado{
    text-align: center;
}
.ot_Tabla_Enc{
    color: black;
    background-color: #0066FF;
    border: black;
    border-style: solid;
    float: none;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    margin-top: 15px;
    height: 45px;
    display: block;
}

.ot_Tabla_Enc_normal{
    color: black;
    float: none;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    margin-top: 10px;
    height: 28px;
    display: block;
}

.outPutText_adbertencia_rojo{
    color: #CC3333;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    width: auto;
    padding-left: 0px;
    padding-top: 3px;
    display: block;
}

.ot_asterisco{
    color: #CC3333;
    font-size: 13px;
    font-weight: normal;
    text-align: left;    
    margin-left: -10px !important;
    display: block;
    float: left;
    vertical-align: top;
}


.outPutText_divicion{
    color: #555;
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    margin-top: 15px;
    height: 45px;
    display: block;
}

.outPutText_bitacora{
    color: black;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    margin-top: 15px;
    width: auto;
    display: block;
}

/* ///////////////////////////////////////////////////////   command button */

.commandButton_estandar, .commandButton_prioritario, .cb_menu_estandar, .cb_menu_selected{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    border-style: solid;
    border-width: 1px;
    padding: 5px 15px 6px;
    cursor: pointer;
    margin: 5px;
    width: auto;

    /* SCC3 */
    background-clip: none !important;
    -webkit-background-clip: none;
    -moz-background-clip: none;
    border-radius: 5px 5px 5px 5px;
    -moz-transition: border 0.5s linear 0s, -moz-box-shadow 0.5s linear 0s;
}

.cb_menu_estandar, .cb_menu_selected{
    margin: 0px;
    border-radius: 0px 0px 0px 0px;
}

.commandButton_verde{
    background-color: #99ffcc;
}
.commandButton_amarillo{
    background-color: #ffff99;
}

.commandButton_estandar, .cb_menu_estandar{
    background-color:  #DDDDDD !important;
    border-color: #CCCCCC !important;
    color: #333333 !important;
    text-shadow: 1px 1px 0 #FFFFFF !important;
    background: -moz-linear-gradient(center top , #FFFFFF, #BBBBBB) repeat scroll 0 0 transparent;
}

.commandButton_estandar:disabled{
    background-color:  #DDDDDD !important;
    border-color: #CCCCCC !important;
    color: gray !important;
    text-shadow: 1px 1px 0 #FFFFFF !important;
}

.commandButton_estandar:hover, .cb_menu_estandar:hover{
    border-color: #999999 !important;
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.9);
    outline: medium none;
}

.commandButton_estandar:focus, .cb_menu_estandar:focus{
    border-color: #5555DD !important;
    background-color:  #CCCCCC !important;
}

.commandButton_prioritario, .cb_menu_selected{
    background-color: #1177DD !important;
    border-color: #AAAADD !important;
    color: #FFFFFF !important;
    text-shadow: 1px 1px 0 #3399DD  !important;

}

.commandButton_prioritario:hover, .cb_menu_selected:hover{
    border-color: #7777DD!important;
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.9);
    outline: medium none;
    background-clip: none;
}

.commandButton_prioritario:focus, .cb_menu_selected:focus{
    border-color: #888888 !important;
    background-color: #1155DD !important;
    background-clip: none;
}

.commandButton_universidad{
    float: left;
    border: 1px solid #ddd;
    padding: 5px;
    background: #FFF;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    width: 150px;
    margin-top: 0px;

    /*css3*/
    opacity: 0.7;
    border-radius: 10px;
}

.commandButton_universidad_pequenno{
    float: left;
    border: 1px solid #ddd;
    padding: 5px;
    background: #FFF;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    width: 80px;
    margin-top: 5px;
    margin-left: 7px;

    /*css3*/
    border-radius: 10px;
}

.commandButton_universidad_pequenno:hover{
    border: 1px solid #AAF;
}

.commandButton_universidad:hover{
    width: 150px;
    height: auto;
    margin-top: -10px;
    background-color: #FFF;
    border: 1px solid #ddd;
    outline: medium none;
    overflow: visible;
    z-index: 33333;
    /* css 3*/
    box-shadow: 0 0 12px rgba(82, 168, 236, 0.9);
    opacity: 1;
    border-radius: 15px;
}

/*             <<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>>
               <<>>                         ERROR FATAL POPUP                              <<>>
               <<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>>       */

.popup_error{
    background: #FFF;
    padding: 14px;
    border: 0.2em #000 solid;

    /* CSS3 */
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#cabeza_popup_error{
    background: #FF0000;
    color: #FFF;
    text-align: center;
    position: relative;
    top: -1em;
    width: 30em;
    padding: 0.3em;
    font-weight: bold;
    text-transform: capitalize;
}

#cuerpo_popup_error{
}

#subtitulo_error{
    background: transparent url('../imagenes/mixto/bug.png') no-repeat;
    padding-left: 3em;
    padding-bottom: 2em;
}

#descripcion_error{
    background: #CFCFCF;
    border: 1px #000 solid;
    padding: 0.5em;
    margin: 0.2em;
    height: 15em;
    overflow: auto;
}

/*------------------------ ESTILOS PARA MENSAJES DE ERROR --------------------*/
#mensajes_generales{
    text-align: center;
    z-index: 30000;
    padding: 0;
    width: 650px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-left: 15% !important;
    margin-right: 20% !important;
    position: fixed;
}

.mensaje_botones{
    position:absolute;
    top:5px;
    right:10px;
    float:right;
    display:block;
}



.mensaje_advertencia, .mensaje_informativo, .mensaje_error{
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius: 10px;

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom: 10px;

    font-weight: bold;
    padding: 10px;
    text-align: center;
    padding-left: 14px;
    padding-right: 4em;
    margin-top: 300px;
    position: absolute;

}

.mensaje_error{
    background: #FF0000;
    color: #FFF;
    border: #FF0000 solid 2px;
}

.mensaje_informativo{
    background: #C8FFBF;
    color: #333;
    border: #A3EF95 solid 2px;
}

.mensaje_advertencia{
    background: #FFFEA2;
    color: #333;
    border: #F0E849 solid 2px;
}

.invisible{
    display:none;
}
.visible{
    display:block;
}

/*<<>><<><<<>><<>><<>>
 Botones del mensaje
  <<>><<>><<>><<>><<>>*/
.mensaje_errorBtns{
    background: #FF0000;
    color: #FFF;
    border: #FFF solid 1px;
    margin:1px 1px 1px 3px;
    display: inline-block;
    position: relative;

}
.mensaje_informativoBtns{
    background: #C8FFBF;
    color: #A3EF95;
    border: #A3EF95 solid 1px;
    margin:1px;
}
.mensaje_advertenciaBtns{
    background: #FFFEA2;
    color: #F0E849;
    border: #F0E849 solid 1px;
    margin:1px;
}
.mensaje_errorBtns:hover{
    background: #FFF;
    color: #FF0000;
    border: #FFF solid 1px;
}
.mensaje_informativoBtns:hover{
    background: #A3EF95;
    color: #C8FFBF;
    border: #A3EF95 solid 1px;
}
.mensaje_advertenciaBtns:hover{
    background: #F0E849;
    color: #FFFEA2;
    border: #F0E849 solid 1px;
}


/*---------------------------Imsg--------------------------------------*/
.iceMsgFatal, .iceMsgError, .iceMsgInfo, .iceMsgsWarn, .iceMsgRight{
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    max-width: 168px;
    padding-left: 18px;
    padding-top: 0px;
    padding-bottom: 1px;
    display: block;
    position: relative;
}

.iceMsgFatal{
    color: #CC3333;
    font-weight: bold;
    background: url("../imagenes/info-error.png") no-repeat left;
}

.iceMsgError{
    color: #CC3333;
    background: url("../imagenes/error.png") no-repeat left;
}

.iceMsgInfo{
    color: gray;
    background: url("../imagenes/info-informacion.png") no-repeat left;
}

.iceMsgWarn{
    color: #CBA600;
    font-weight: bold;
    background: url("../imagenes/info-advertencia.png") no-repeat left;
}

.iceMsgRight{
    color: #339900;
    background: url("../imagenes/accept.png") no-repeat left;
    height: 15px;
}





/*------------------------ FIN DE ESTILOS PARA MENSAJES DE ERROR -------------*/

/*-------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------- TABLA--------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/

.tabla_bitacora{
    width: auto;
    max-height: 300px;
    display: inherit;
    overflow: scroll;
    margin: 5px 5px 5px 0px;
}

.columnas{
    border-right: 1px solid #8cc63e;
    border-bottom: 2px solid #8cc63e;
    border-left: 1px solid #8cc63e;
    text-align: center;
}


.estilo_columna{
    height: 22px !important;
    width: 350px !important;
}

.estilo_columna_usuarios{
    width: auto !important;
    max-width: 90px !important;
    min-width: 10px !important;
}

.estilo_columna_lotes{
    width: auto !important;
    max-width: 200px !important;
    min-width: 90px !important;
}

.estilo_columna_sede{
    width: auto !important;
    max-width: 500px !important;
    min-width: 50px !important;
}

.estilo_columna_bitacora{
    width: 650px;

}
.estilo_columna_correo{
    width: 680px;
}

.estilo_columna_tablaModalLote{
    width: 150px !important;
}

.filas_pares{
    background: #FFFFFF;
}
.filas_impares{
    background: #FFF url( "../imagenes/mixto/formulario.gif" ) repeat-x top left;
}

.iceDatTbl {
    /* was iceDataTblOutline */
    border-left: 2px solid #d9d9d9;
    border-top: 2px solid #d9d9d9;
    border-bottom: 8px solid #dcdcdc;
    border-right: 2px solid #dcdcdc;

    -moz-border-radius-bottomright: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
}


.iceDatTblColHdr, .iceDatTblColHdr1, .iceDatTblColHdr2, .iceDatTblColGrpHdrCol, .iceDatTblFtr {
    /* was iceTblHeader */
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
    font-weight: bold;
    /*background: #FFF url( './css-images/table_col_header.gif' ) repeat-x bottom left;*/
    background: #2A6591;
    background: -webkit-gradient(linear, left top, left bottom, from(#8FCBE7), to(#2A6591));
    background: -moz-linear-gradient(top,  #8FCBE7,  #2A6591);
    border: 1px solid #d9d9d9;
}

.iceDatTblRow1 {
    /* was iceTblRow1 */
    background: #FFF;
    border-left: 1px solid #d9d9d9;
}

.iceDatTblRow2 {
    /* was iceTblRow2 */
    background: #F7F7F7;
    border-left: 1px solid #d9d9d9;
}

.iceRowSelSelected {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #E5E5E5;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.iceRowSelSelectedMouseOver {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFA326;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.iceRowSelMouseOver {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #4591A1;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: white;
}

.iceRowSelMouseOver .iceOutTxt {
    color: white;
}

/* set the common attributes for the column classes */
.iceDatTblCol, .iceDatTblCol1, .iceDatTblCol2 {
    /*was column, column1, column2, column3*/
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-align: left;
    font-size: inherit;
}


.iceDatTblHdr {

}

/*was iceTblHeader */
.iceDatTblFtr {
    background: none;
    border-top: 1px solid #d9d9d9;
}

.iceDatTblScrlSpr{
    background: url( './css-images/table_col_header.gif' ) repeat-x bottom left;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.iceDatTblScrlSprFtr{
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.iceDatTblScrlSprFtr .iceDatTblFtr{
    border-bottom: none;
}

.iceDatTblScrlSpr .iceDatTblColHdr1, .iceDatTblScrlSpr .iceDatTblColHdr2 {
    border-left-style: none;
    border-top-style: none;
}

.iceDatTblActvSrtHdr{
    text-decoration: none;
    background-color: #000000 !important;

}


/*was iceTblFooter */

/*
----- for datatable when cell content length exceeds-----
*/

.iceDatTbl td span.iceOutTxt {
    overflow: hidden;
    display: block;
    padding: 2px 0px;
}

/* etc */

/*
----------- Data Scroller Component classes
*/
.iceDatPgrScrOut {
    /* the class for the outside table */
    background-color: transparent;
    margin: 10px;
}

.iceDatPgrScrBtn {
    /* the cells behind the scroll buttons */
    background-color: transparent;
    padding: 2px;
}

.iceDatPgrScrBtn .iceCmdLnk-dis {
    border-bottom:none;
}

.iceDatPgrTbl {
    /* the container for the pagination*/
    background-color: transparent;
}

/* set the common attributes for the pagination numbers */
.iceDatPgrScrCol a, .iceDatPgrCol a {
    text-decoration: none;
    font-weight: normal;
    background-color: #FFFFFF;
    color: #656565;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #DBDBDB;
}

/** html .iceDatPgrCol a {*/
/*width: 1%;*/
/*}*/

/* override the attributes for the currently selected page */
.iceDatPgrScrCol a {
    color: #FFFFFF;
    border: 1px solid #DBDBDB;
    background-color: #FFA600;
}

/** html .iceDatPgrScrCol a {*/
/*width: 1%;*/
/*}*/

/* set the attributes for the mouseover on none-current pages */
.iceDatPgrCol a:hover {
    color: #000000;
    border: 1px solid #FFA600;
    text-decoration: none;
    padding-bottom: 1px;
}
.iceDatPgrScrCol a:hover {
    color: #000000;
    border: 1px solid #DBDBDB;
    text-decoration: none;
    padding-bottom: 1px;
}



/*-------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------- PANEL GRID --------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/

.panelGrid_login{
    /*   left: 415px;*/
    top: -50px;/*-640px*/
    width: 200px;
    position: relative;
    background-color: #DDEEF6;
    border: 1px solid #C0DEED;
    border-radius: 5px 5px 5px 5px;
    display: block;    
}

.panelGrid_lImagen{

    top: -85px; /*-85px*/   
    left: -7px;
    width: 300px;
    position: relative;
    display: block;    
}

.pg_menu{
    background-color: #DDEEF6;
    border: 1px solid #C0DEED;
    padding: 5px 0px 5px 5px;
    display: block;
    /* CSS3 */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.panelCentrado{
    position: absolute;
    top: 20%;
    height: 60%;
    left: 20%;
    width: 60%;  
}

.panelGrid_opciones{
    float: left;
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: -70px;
    background: none repeat scroll 0 0 #F5F5F5;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #DDDDDD;
    overflow: hidden;
    width: 890px;
    position: relative;
}

.panelGrid_universidad{
    margin: 20px 15px 0px 15px;
    position: relative;  /* Set the absolute positioning base coordinate */
    width: 175px;
    height: 174px;
    border: 1px solid #ddd;
    overflow: hidden;
    z-index: 0;
    float: left;
    background: #EEE;
    /* CSS3 */
    border-radius: 10px;
}

.panelGrid_universidad_pequenno{
    margin: 20px 15px 0px 15px;
    position: relative;  /* Set the absolute positioning base coordinate */
    width: 120px;
    height: 140px;
    border: 1px solid #ddd;
    overflow: hidden;
    z-index: 0;
    float: left;
    background: #EEE;
    /* CSS3 */
    border-radius: 5px;
}

.panelGrid_buscar_cole{
    margin: 20px 0px 10px 15px;
    border: 1px solid #AAF;
    /* CSS3 */
    border-radius: 10px;
}

.panelGrid_buscar_lote{
    margin: 20px 0px 10px 15px;
    border: 1px solid #AAF;
    /* CSS3 */
    border-radius: 10px;
}

.panelGrid_Detalle{
    margin: 20px 0px 10px 15px;
    border: 1px solid #AAF;
    background-color: #DDEEF6;
    /* CSS3 */
    border-radius: 4px;
}

.panelGrid_apartado{
    width: 90%;
    border-top: 1px solid #DDDDDD;
    margin: 30px -20px -10px 0;
    padding: 20px 20px 5px 0;
}

.panel_contenido{
    border-bottom: 1px solid #CCCCCC;
    padding: 0px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-width: 0px;
    /*CSS3*/
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    -moz-border-colors: none;
    -moz-border-image: none;
}


.imagen_tarjetas{
    height: 48px;
    width: 160px;
}

.imagen_logoU{
    float: right;
    margin: -90px 60px 0px 0px;
    position: relative;
}

.inputFileContainer{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
    margin: 15px 15px 15px 15px;
    padding: 15px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
}


/*//////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////       Panel Grid        //////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

.icePnlGrdCol2{
    /*vertical-align: text-top !important;*/
    vertical-align: top;
}
.icePnlGrdCol1{
    /*vertical-align: text-top !important;*/
    vertical-align: top;
}
.icePnlGrdRow2{
    /*vertical-align: text-top !important;*/
    vertical-align: top !important;
}
.icePnlGrdRow1{
    /*vertical-align: text-top !important;*/
    vertical-align: top !important;
}

.inputTextAreaMay{
    text-transform: uppercase;

}

